<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body>
    <h1>Hi <%= name %></h1>
    <p>Welcome to ecoBIN</p>
    <h3>Thank you for signing up, this is your email: <%= email %></h3>

    <p>
      Click here to complete registration: <a href="<%= url%>">Verify email</a>
    </p>
  </body>
</html>
