<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>
  <body>
    <container
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
      ">
      <div
        width="650px"
        height="250px"
        align="center"
        style="border-radius: 4px">
        <img
          src="https://res.cloudinary.com/dev-sylvia/image/upload/v1682590094/uiqz316o8wzfddmz78sx.png"
          width="250px"
          height="120px"
          style="padding-top: 5px; object-fit: contain"
          alt="EcoBin logo"
          border="0" />
      </div>

      <div
        style="
          background-image: url(https://i.pinimg.com/originals/ee/50/de/ee50dec983d90280a90a40afbe5be29d.jpg);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 350px;
          height: 600px;
        ">
        <div
          style="
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 5px 5px 0px 0px;
            align-items: center;
            width: 300px;
            padding: 10px 0px 10px 0px;
            margin-top: 20px;
          ">
          <h2><b>Hi user</b></h2>
          <h2 style="margin: 0"><b>Congratulations!!!</b></h2>

          <p style="width: 280px; text-align: center">
            <b>Thank you for creating an account with EcoBin.</b>
          </p>

          <p style="width: 270px; text-align: center; font-weight: 500">
            Please verify that your email address is <b>email@gmail.com</b>, and
            that you entered it when signing up on ECOBIN.
          </p>
          <p style="width: 200px; text-align: center; font-weight: 500">
            Your OTP IS : jugh
          </p>

          <br />

          <div>
            <br />
            <a
              href=""
              target="_blank"
              style="
                background-color: #03903e;
                color: white;
                padding: 20px 10px 20px 10px;
                border-radius: 5px;
                text-decoration: none;
              "
              >Activate Your Account</a
            >
          </div>
          <br />
          <p style="width: 270px; text-align: center">
            Let's team up to ensure proper waste disposal and promote recycling
            within our communities. Now with a click of a button, YOU CAN.
          </p>
        </div>

        <div
          style="
            background-color: #2e53ef;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            border-radius: 0px 0px 5px 5px;
            padding: 10px 0px 10px 0px;
          ">
          <p style="margin: 0">Cheers to Healthy Living!</p>
          <p style="margin: 0">The EcoBin Team</p>
        </div>
      </div>
    </container>
  </body>
</html>
